* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

.html {
    scroll-behavior: smooth;
}

body {
	background-color: black;
	color: white;
}

.background {
	background-image: url(https://uploaddeimagens.com.br/images/004/421/880/full/binary-code-background1.jpg?1680919286);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	opacity: 10%;
}

.section {
	width: 100%;
}

.menu {
	background-color: #00ff1a6e;
	height: 3rem;
	width: 80%;
	border-radius: 12px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 20px auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}	

.menu ul {
	list-style-type: none;
	display: flex;
	gap: 4rem;
}

.menu ul li a {
	color: white;
	font-size: 1.25rem;
	text-decoration: none;
	transition: all 0.6s;
}

.menu ul li a:hover {
	color: rgb(255, 0, 0);
	background-color: black;
	padding: 10px;
	border-radius: 5px;
}

.inicio {
	display: flex;
	justify-content: center;
}

.imagem-principal {
	margin-top: 110px;
	background-image: url(https://uploaddeimagens.com.br/images/004/421/894/full/peakpx.jpg?1680920539);
	background-position: center;
	background-size: 80%;
	width: 885px;
	height: 408px;
	border-radius: 20px;
	
}

.imagem-principal:hover {
	background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTRiMjkyM2FkMmI0OWVkMmVjODE3YzQ1OGNlMzk2OWRiMjJlNjczZCZjdD1n/zxbpj2EweF7oRGkUys/giphy.gif);
	background-size: 100%;
	cursor: pointer;
}

.main-text {
	display: flex;
	justify-content: center;
}

.main-text .h1 {
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2rem;
	margin: 10px;
}

.hr {
	margin: 40px 0 ;
	background-color: #00ff1a6e;
	width: 100%;
	height: 0.3em;
}

.artigo-principal {
	margin: 0px 50px;
}

.margin {
	margin-bottom: 1.5rem;
}

.artigo-principal {
	text-align: center;
}

.h2 {
	font-size: 2rem;
	text-transform: capitalize;
}

.artigo-principal .text {
	font-size: 1rem;
	text-align: center;
	line-height: 1.8rem;
	text-transform: uppercase;
}

.type-hacker-display {
	display: flex;
	justify-content: space-evenly;
}

.h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
	
}

.type-hacker {
	width: 33.33%;
	margin: 10px;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #00ff1a34;
	border-radius: 5px;
}

.chp-black, .chp-grey, .chp-white {
	margin: 2em;
}

.chp-white {
	background-image: url(https://uploaddeimagens.com.br/images/004/423/070/full/WHITE_HAT.png);
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	transition: all 1s;
}
.chp-grey {
	background-image: url(https://uploaddeimagens.com.br/images/004/423/105/full/GREY_HAT.png);
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	transition: all 1s;
}
.chp-black {
	background-image: url(https://uploaddeimagens.com.br/images/004/423/110/full/BLACK_HAT.png?1681072375);
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	transition: 1s;
}

.chp-black:hover, .chp-grey:hover, .chp-white:hover {
	cursor: pointer;
	background-size: 100%;
}

.type-hacker-text {
	line-height: 1.8rem;
}

.listas {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: justify;
}

.item-listas {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.h4 {
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 4px;
}
