* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
	background-color: black;
	color: white;
}

.background {
	background-image: url(https://uploaddeimagens.com.br/images/004/421/880/full/binary-code-background1.jpg?1680919286);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	opacity: 10%;
}

.section {
	width: 100vw;
}

.menu {
	background-color: #00ff1a6e;
	height: 3rem;
	width: 80%;
	border-radius: 12px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 20px auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}	

.menu ul {
	list-style-type: none;
	display: flex;
	gap: 4rem;
}

.menu ul li a {
	color: white;
	font-size: 1.25rem;
	text-decoration: none;
	transition: all 0.6s;
}

.menu ul li a:hover {
	color: rgb(255, 0, 0);
	background-color: black;
	padding: 10px;
	border-radius: 5px;
}

.inicio {
	display: flex;
	justify-content: center;
}

.imagem-principal {
	margin-top: 110px;
	background-image: url(https://uploaddeimagens.com.br/images/004/421/894/full/peakpx.jpg?1680920539);
	background-position: center;
	background-size: 80%;
	width: 885px;
	height: 408px;
	border-radius: 20px;
	
}

.imagem-principal:hover {
	background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTRiMjkyM2FkMmI0OWVkMmVjODE3YzQ1OGNlMzk2OWRiMjJlNjczZCZjdD1n/zxbpj2EweF7oRGkUys/giphy.gif);
	background-size: 100%;
	cursor: pointer;
}

.main-text {
	display: flex;
	justify-content: center;
}

.main-text .h1 {
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2rem;
	margin: 10px;
}

.hr {
	margin: 40px 0 ;
	background-color: #00ff1a6e;
	width: 100%;
	height: 0.3em;
}

.artigo-principal {
	margin: 0px 50px;
}

.margin {
	margin-bottom: 1.5rem;
}

.artigo-principal {
	text-align: center;
}

.artigo-principal .h2 {
	font-size: 2rem;
	text-transform: capitalize;
}

.artigo-principal .text {
	font-size: 1rem;
	text-align: center;
	line-height: 1.8rem;
}